#projects {
  background: url("../../assets/images/background.jpg");
  background-size: cover;
  padding: 6rem;
}
#projects h3 {
  color: #fff;
  margin-bottom: 4rem;
}
#projects > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
#projects article {
  height: 100%;
  background: #fff;
  color: #57443a;
  border-radius: 4px;
}
#projects article > div {
  padding: 1rem;
}
#projects h4,
.card-body > div > a {
  font-size: 2rem;
}
#projects p {
  font-size: 1.4rem;
}
.card-header {
  height: 14rem;
}
.card-body > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body > div > a {
  color: #57443a;
}

@media screen and (max-width: 768px) {
  #projects {
    padding: 6rem 2rem;
  }
  #projects > div {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

@media screen and (max-width: 450px) {
  #projects > div {
    grid-template-columns: 1fr;
  }
}


