.about-me {
  background: #e6d5b8;
  padding: 3rem 6rem;
  color: #1b1a17;
}
.flex {
  display: flex;
  align-items: center;
}
.logo {
  height: 35px;
}
.line {
  width: 100%;
  height: 1px;
  border: 1px solid #f0a500;
  margin-left: 2.5rem;
}
.about-me h3 {
  font-size: 5rem;
  text-transform: uppercase;
  margin: 1rem 0;
}
.about-me p {
  font-size: 2rem;
  text-align: justify;
}
.about-me h5 {
  font-size: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .about-me {
    height: 100%;
    padding: 3rem 2rem;
  }
  .about-me h3 {
    font-size: 3.5rem;
  }
  .about-me p {
    font-size: 1.6rem;
  }
}
